<% include ../partials/header %>

<div class="container">
  
<h1 style="text-align: center;">Edit Comment</h1>
<div style="width: 30%; margin: 25px auto;">
<form action="/campgrounds/<%=Campid%>/comments/<%=comment._id%>?_method=PUT" method="POST">
   <div class="form-group">
  <input class="form-control" type="text" name="comment[text]" value= "<%=comment.text %>">
   </div>

   <h4 style="display:inline;">Rating: </h4> 
   <span class="rating">
      <input id="star5" name="comment[rating]" type="radio" value="5" class="radio-btn hide" />
      <label for="star5">☆</label>
      <input id="star4" name="comment[rating]" type="radio" value="4" class="radio-btn hide" />
      <label for="star4">☆</label>
      <input id="star3" name="comment[rating]" type="radio" value="3" class="radio-btn hide" />
      <label for="star3">☆</label>
      <input id="star2" name="comment[rating]" type="radio" value="2" class="radio-btn hide" />
      <label for="star2">☆</label>
      <input id="star1" name="comment[rating]" type="radio" value="1" class="radio-btn hide" />
      <label for="star1">☆</label>
      <div class="clear"></div>
  </span>


   <div class="form-group comment-edit">
  <button class="btn btn-lg btn-primary btn-block">Submit!</button>
  </div>    
    
</form>
</div>
<% include ../partials/footer %>