<% include partials/header %>

<style type="text/css">
  @import url("/stylesheets/Index.css");
</style>

<div id="landing-header">
    <h1>Welcome to YelpCamp!</h1>
   <a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
   </div>
   
   <ul class="slideshow">
     <li></li>
     <li></li>
     <li></li>
     <li></li>
     <li></li>
   </ul>
  
  

<!--<p>Welcome to YelpCamp</p>

<a href="/campgrounds">View All Campgrounds</a>
-->
<% include partials/footer %>