<% include partials/header %>

<style type="text/css">
  @import url("/stylesheets/Index.css");
</style>

<div id="landing-header">
    <h1>Welcome to YelpCamp!</h1>
    <hr class="hr">
   <a href="/campgrounds" class="btn btn-lg btn-success"><i class="fas fa-campground"></i>View All Campgrounds</a>
   </div>
   
   <ul class="slideshow">
     <li></li>
     <li></li>
     <li></li>
     <li></li>
     <li></li>
   </ul>
  
  
<% include partials/footer %>