.img-thumbnail img{
  width: 100%;
}

.img-thumbnail {
  padding: 0;
}

.img-thumbnail .caption-full{
  padding: 9px;
}

.well .row{
  padding: 0 9px;
}

.well{
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  
}


#deleteForm{
  display: inline;
}

#delete_comment{
  display: inline;
}

#index-img{
  height: 150px;
  width: 275px;
}

.txt-center {
  text-align: center;
}
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
  width: 90px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
}

.rating > label {
/*  float: right;*/
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
  color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #FFD700;
}

#rated{
  color: #FFD700;
}

.comment-edit{
  padding-top: 15px;
}

.Comment-buttons{
  padding-bottom: 20px;
}

#map {
  height: 400px;  
  width: 100%;  
 }